*.apk
*.ap_

*.dex
*.class

**/bin/
**/gen/
**/proguard/


android/my-prj/d-day/src/net/sarangnamu/d_day/service/AlarmService.java

android/my-prj/d-day/src/net/sarangnamu/d_day/service/AlarmService.java
