a.rollover img { border:0; display:block }
a.rollover img.over	{ display:none }
a.rollover:hover { position:relative }
a.rollover:hover img { display:none	}
a.rollover:hover img.over {	display:block }

a:link    {color: #666666; text-decoration: none}
a:visited {color: #666666; text-decoration: none}
a:hover   {color: #0000FF; text-decoration: underline}
a:active  {color: #FF3300; text-decoration: underline}

a:link.white    {color: #ffffff; text-decoration: none}
a:visited.white {color: #ffffff; text-decoration: none}
a:hover.white   {color: #ffffff; text-decoration: underline}
a:active.white  {color: #ffffff; text-decoration: underline}

body
{
	scrollbar-face-color: #f0f0f0; scrollbar-shadow-color: #c6c6c6;
	scrollbar-highlight-color:white; scrollbar-3dlight-color: #c6c6c6;
	scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: black
}
td,span,div,th{font-size:9pt;FONT-FAMILY: "verdana", "±¼¸²"; line-height:1.5 }
img			{border:0}
button		{border:0;margin:0;cursor:pointer;background-color:transparent;}
textarea	{font-size: 9pt; COLOR: #000000; background-color:#FFFFFF; border:1 solid #787878;overflow:auto;line-height:1.5;}
select		{font-size:9pt; border:1 solid #787878; MARGIN: 0px;}

<!-- object -->
.tahoma8	{font-family:tahoma; font-size:8pt}
.inputbtn	{font-size:9pt; border:0; background-color:#efefef; color:#313131;height:22}
.input		{font-size: 9pt; COLOR: #000000; background-color:#FFFFFF; border:1 solid #787878; }
.tableTR	{color:#000000;background-color:#ececec; text-align:center; }
.tableTD	{color:#000000;background-color:#f7f7f7; text-align:center;}
.tableOver	{background-color:#FFFDEC}
.border		{border:1 solid #cccccc;}
.box		{border-bottom: #cccccc 1px solid; border-left: #777777 1px solid; border-right: #cccccc 1px solid; border-top: #777777 1px solid; font-size: 9pt}
.popper		{position : absolute; visibility : hidden; }
.alpha3		{filter:alpha(style=0,opacity=30, finishopacity=0)}
.alpha7		{filter:alpha(style=0,opacity=70, finishopacity=0)}
.wordbreak  {word-break:break-all;}
.shadow7	{filter:progid:DXImageTransform.Microsoft.Shadow(color=#00344C,Direction=135,Strength=7)}
.shadow3	{filter:progid:DXImageTransform.Microsoft.Shadow(color=#00344C,Direction=135,Strength=3)}
.hand		{cursor:pointer}
.b			{font-weight:bold}